<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Arvid Warnecke" />
   <link href="http://feeds.feedburner.com/madhattersDelicatessen" rel="alternate" title="madhatter's delicatessen" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">madhatter's delicatessen</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Arvid Warnecke<br />
		arvid@nostalgix.org<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://twitter.com/nostalgix/">twitter.com/nostalgix</a><br />
        <a href="http://github.com/madhatter/">github.com/madhatter</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/madhattersDelicatessen">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/madhatter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
<!-- Copyright (c) 2000-2012 etracker GmbH. All rights reserved. -->
<!-- This material may not be reproduced, displayed, modified or distributed -->
<!-- without the express prior written permission of the copyright holder. -->

<!-- BEGIN etracker Tracklet 3.0 -->
<script type="text/javascript">document.write(String.fromCharCode(60)+'script type="text/javascript" src="http'+("https:"==document.location.protocol?"s":"")+'://code.etracker.com/t.js?et=FEKW0V">'+String.fromCharCode(60)+'/script>');</script>

<!-- etracker PARAMETER 3.0 -->
<script type="text/javascript">
	/* Beginn des konfigurierbaren Parameterbereichs.
	Um folgende Parameter zu verwenden, entfernen Sie bitte die f&uuml;hrenden zwei Schr&auml;gstriche (//) und erg&auml;nzen den Parameter um den gew&uuml;nschten Wert. */
	var et_pagename = "{{ page.title }}";
	//var et_areas = "";
	//var et_url = "";
	//var et_target = "";
	//var et_ilevel = 0;
	//var et_tval = "";
	//var et_cust = 0;
	//var et_tonr = "";
	//var et_tsale = 0;
	//var et_basket = "";
	//var et_lpage = "";
	//var et_trig = "";
	//var et_sub = "";
	//var et_se = "";
	//var et_tag = "";
</script>
<!-- etracker PARAMETER END -->

<script type="text/javascript">_etc();</script>
<noscript><p><a href="http://www.etracker.com"><img style="border:0px;" alt="" src="https://www.etracker.com/nscnt.php?et=FEKW0V" /></a></p></noscript>
<!-- etracker CODE NOSCRIPT 3.0 -->
<noscript>
	<p><a href='http://www.etracker.de/app?et=FEKW0V'>
		<img style='border:0px;' alt='' src='https://www.etracker.de/cnt.php?
		et=FEKW0V&amp;v=3.0&amp;java=n&amp;et_easy=0
		&amp;et_pagename=
		&amp;et_areas=&amp;et_ilevel=0&amp;et_target=,0,0,0
		&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0
		&amp;et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=
		&amp;et_organisation=&amp;et_demographic=' /></a></p>
</noscript>
<!-- etracker CODE NOSCRIPT END-->

<!-- etracker CODE END -->
<!-- Google Analytics end -->

</body>
</html>
